.container {
  width: 60%;
}

.tableTr,
.tableTh,
.tbodyTd2,
.tbodyTd1,
.tbodyTd4,
.tbodyTd5,
.tbodyTd6 {
  text-align: center;
}

.tbodyTd1,
.tbodyTd3,
.tbodyTd4,
.tbodyTd5,
.tbodyTd6 {
  vertical-align: middle;
}
.tbodyTd2 {
  width: 15%;
}
.tbodyTdImg {
  width: 70%;
}
.tbodyTd3 {
  width: 30%;
}
.tbodyTd4 {
  width: 10%;
}
.tbodyTd5 {
  width: 20%;
}
.tbodyTd6 {
  width: 20%;
}
.cartContent {
  padding: 0;
  margin: 0;
}
.button {
  border: none;
  background-color: transparent;
  font-size: 20px;
}
